{strip}
{assign module 'products'}
{include './_include/default.tpl.html'
    pageTitle = 'Produtos'
    windowName = 'Produtos'
    windowIcon = 'barcode'
    activeMenu = '#menuItemProducts'
    search = ['placeholder' => 'Buscar...']
    admModule = [
        'name' => $module,
        'table' => [
            'enabled' => true,
            'filter' => false,
            'commands' => [
                'new' => true
            ]
        ],
        'form' => [
            'enabled' => true,
            'save' => true,
            'commands' => [
                'delete' => [
                    'icon' => 'trash',
                    'text' => 'Excluir',
                    'hidable' => true
                ]
            ]
        ]
    ]
    plugins = [
        'cropper',
        'fileupload',
        'inputmask',
        'jquery-ui',
        'json-viewer',
        'load-image',
        'mustache',
        'select2',
        'tokenize2'
    ]
}