<!DOCTYPE html>
{strip}
{$appController=[
    controller => "{assetFile file='app/site/forgot-password.js'}",
    options    => []
]}
<html>
{include "./_include/head.tpl.html" nocache}
<body>
	<div class="container">
      <div class="container-forgot">
        <div class="wrap-forgot">
            <form id="forgot-form" class="forgot-form">
				<span class="login-form-title"><img src="{assetFile file="icon/Logo_QueroBurguer.png"}" alt="Logo Quero Burguer" /></span>

				<span class="forgot-form-title">Recuperar senha</span>
				<span class="forgot-form-text">Preencha o formulário abaixo para receber um e-mail de recuperação de senha</span>

                <div class="wrap-input">
                    <input id="form_email" class="has-val input" type="text"/>
                    <span class="focus-input" data-placeholder="E-mail"></span>
                </div>

                <div class="container-forgot-form-btn">
                    <button type="submit" class="forgot-form-btn">Enviar e-mail</button>
                </div>
            </form>
        </div>
      </div>
    </div>

    {include "./_include/scripts.tpl.html" nocache}
</body>
</html>