<!DOCTYPE html>
{strip}
{$appController=[
    controller => "{assetFile file='app/site/index.js'}",
    options    => []
]}
<html>
{include "./_include/head.tpl.html" nocache}
<body>
	<div class="container">
      <div class="container-login">
        <div class="wrap-login">
            <form id="login-form" class="login-form">
                <span class="login-form-title"><img src="{assetFile file="icon/Logo_QueroBurguer.png"}" alt="Logo Quero Burguer" /></span>

                <div class="wrap-input">
                    <input id="form_email" class="has-val input" type="text"/>
                    <span class="focus-input" data-placeholder="E-mail"></span>
                </div>

                <div class="wrap-input">
                    <input id="form_password" class="has-val input" type="password"/>
                    <span class="focus-input" data-placeholder="Senha"></span>
                </div>

                <div class="container-login-form-btn">
                    <button type="submit" class="login-form-btn">Entrar</button>
                </div>
            </form>
            <div class="text-center">
                <a href="/forgot-password" class="txt2">Esqueceu a senha ?</a>
            </div>
            <div class="text-center">
                <span class="txt1">Não possui conta?</span>
                <a href="/register" class="txt2">Cadastre-se</a>
            </div>
        </div>
      </div>
    </div>

    {include "./_include/scripts.tpl.html" nocache}
</body>
</html>